@use "@/app/vars";

.main {
  color: var(--text-color);
  position: absolute;
  height: vars.$size;
  width: vars.$size;
  user-select: none;
  &:hover {
    --bg-color: var(--hover-color);
  }
}
.active,
.invalid {
  --glow-color: var(--bg-color);
  filter: drop-shadow(0px 0px 3px var(--glow-color))
    drop-shadow(0px 0px 5px var(--glow-color)) drop-shadow(2px 4px 6px black);
  &:hover {
    --glow-color: var(--hover-color);
  }
}
.active {
  --bg-color: #{vars.$active-color};
  --text-color: #{vars.$active-text};
  --hover-color: #{vars.$active-hover};
}
.inactive {
  --bg-color: #{vars.$inactive-color};
  --text-color: #{vars.$inactive-text};
  --hover-color: #{vars.$inactive-hover};
}
.ready {
  --bg-color: #{vars.$ready-color};
  --text-color: #{vars.$ready-text};
  --hover-color: #{vars.$ready-hover};
}
.invalid {
  --bg-color: #{vars.$invalid-color};
  --text-color: #{vars.$invalid-text};
  --hover-color: #{vars.$invalid-hover};
}

.icon {
  position: absolute;
  width: calc(100% - vars.$border-size * 2);
  top: vars.$border-size;
  left: vars.$border-size;
  -webkit-clip-path: vars.$clip-path;
  clip-path: vars.$clip-path;
}

.rank-outer {
  position: absolute;
  padding: vars.$border-size;
  z-index: 1;
  top: -5px;
  left: -5px;
  -webkit-clip-path: vars.$clip-path;
  clip-path: vars.$clip-path;
  // All this is to arrive at a color that is grayscale and at a brightness
  // midpoint between --bg-color and --text-color
  background-image: linear-gradient(black, black),
    linear-gradient(var(--bg-color), var(--bg-color)),
    linear-gradient(var(--text-color), var(--text-color));
  background-blend-mode: saturation, hard-light;
}

.rank {
  background-color: var(--bg-color);
  padding: 0 2px;
  font-size: 12px;
  height: 16px;
  line-height: 15px;
  text-align: right;
  -webkit-clip-path: vars.$clip-path;
  clip-path: vars.$clip-path;
  text-shadow: 0 0 3px var(--bg-color);
}

.tier {
  position: absolute;
  z-index: 1;
  top: -10px;
  right: -5px;
}
