@use "@/app/colors";

/* if you adjust this, make sure to also adjust _vars.ts */
$size: 68px;
$border-size: 2px;
$clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 80%, 100% 0);

$active-color: colors.$talent-active;
$active-hover: colors.$talent-active-hover;
$active-text: colors.$talent-active-text;
$inactive-color: colors.$talent-inactive;
$inactive-hover: colors.$talent-inactive-hover;
$inactive-text: colors.$talent-inactive-text;
$ready-color: colors.$talent-ready;
$ready-hover: colors.$talent-ready-hover;
$ready-text: colors.$talent-ready-text;
$invalid-color: colors.$talent-invalid;
$invalid-hover: colors.$talent-invalid-hover;
$invalid-text: colors.$talent-invalid-text;
